@charset "UTF-8";
@font-face {
    font-family: 'gamelove';
    src: url(FONTES/upheavtt.ttf);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
body{
    background-image: url(img/backJota.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}
header{
    font-family: 'gamelove';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 48px;
}
#navegation ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
#navegation ul li a{
    color: #ffffff;
    border-bottom: 2px solid transparent;
    font-size: 22px;
    transition: all ease-out .4s;
    cursor: pointer;
}
#navegation ul li a:hover{
    border-bottom: 2px solid #8a059e;

}
@keyframes girocd {
    to{transform: rotate(360deg);}
}
#minilogo{
    width: 100px;
    animation: girocd 5s infinite linear;
}

/*main*/

main{
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    width: 100%;
    height: 36em;
    margin-top: 1.5em;
}
section#logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    height: 500px;
    margin-left: 2.5em;
}
#logoja{
    width: 500px;
    margin: 6em 0;
}
#apresentation{
    text-align: justify;
    font-family: monospace;
    line-height: 22px;
    font-size: 1.2em;
    margin-right: 1em;
}

/*Efect Card*/
section#cartao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    margin-left: 10em;
}
#maincontainer{
    position: relative;
    width: 250px;
    height: 356px;
    cursor: pointer;
    animation: cardfly 3s infinite ease-out;
}
@keyframes cardfly {
    0%, 100%{
        transform: translateY(0);
    }50%{
        transform: translateY(-15px);
    }
}
.thecard{
    
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard:hover{
    transform: rotateY(180deg);
}
.thecard:hover .thefront{
    box-shadow: 2px 2px 2px #8a059e00;
}
.thecard:hover .theback{
    box-shadow: 0px 0px 10px #d703f89d;
}
.thefront{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(img/cardFront1.1.png);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #d703f89d;
}
.theback{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(img/cardback.png);
    background-size: cover;
    transform: rotateY(180deg);
    border-radius: 5px;
}

/*Responsividade*/
@media(max-width: 1600px){
    #maincontainer{
    width: 200px;
    height: 285px;
    }
    section#cartao{
        width: 300px;
        height: 400px;
        margin-left: 4em;
    }
    section#logo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 700px;
        height: 500px;
        margin-left: 2.5em;
    }
    #logoja{
        width: 450px;
        margin: 6em 0;
    }
}
@media(max-width: 1300px){
    #maincontainer{
    width: 200px;
    height: 285px;
    }
    section#cartao{
        width: 200px;
        height: 350px;
        margin-left: 5em;
    }
    section#logo{
        width: 600px;
    }
    #logoja{
        width: 425px;
    }
    #minilogo{
        width: 80px;
    }
    #navegation ul li a{
        font-size: 20px;
    }
}
@media(max-width: 480px){
    body{
        background-image: url(img/backgroundMOBILE.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main{
        flex-direction: column;
        height: 100vh;
    }
    header{
        padding: 15px 28px;
    }
    #navegation ul{
        gap: 25px;
    }
    #maincontainer{
    width: 180px;
    height: 256px;
    }
    section#cartao{
        width: 100%;
        height: 350px;
        margin-left: 0em;
    }
    section#logo{
        width: 100%;
        margin: 0em;
        padding: 1em;
        display: flex;
        justify-content: center;                                
        align-items: flex-start;
        
    }
    #apresentation{
        margin: 0em;
        margin-bottom: 1em;
        height: 198px;
        font-size: small;
    }
    img#logoja{
        width: 350px;
        margin: auto;
    }
    #minilogo{
        width: 60px;
    }
    #navegation ul li a{
        font-size: 16px;
    }
    #navegation ul li a:hover{
        border-bottom: 2px solid #ac42d9;
    
    }
}
@media(max-width: 380px){
    body{
        background-image: url(img/backgroundMOBILE.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    main{
        flex-direction: column;
        height: 100vh;
    }
    header{
        padding: 15px 28px;
    }
    #navegation ul{
        gap: 25px;
    }
    #maincontainer{
    width: 150px;
    height: 226px;
    }
    section#cartao{
        width: 100%;
        height: 350px;
        margin-left: 0em;
        margin-top: 2em;
    }
    section#logo{
        width: 100%;
        margin: 0em;
        padding: 1em;
        display: flex;
        justify-content: center;                                
        align-items: flex-start;
        
    }
    #apresentation{
        margin: 0em;
        margin-bottom: 1em;
        font-size: small;
        height: 198px;
    }
    img#logoja{
        width: 280px;
        margin: auto;
    }
    #minilogo{
        width: 50px;
    }
    #navegation ul li a{
        font-size: 14px;
    }
    #navegation ul li a:hover{
        border-bottom: 2px solid #000000;
    
    }
}