@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, black , rgb(42, 0, 42));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
section#global{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 40em;
    box-shadow: 1px 1px 4px #80008057;
    border-radius: 25px;
}
section.interna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: aliceblue;

}
section#ladoA{
    background-color: rgb(5, 5, 5);
    flex-direction: column;
    border-radius: 25px 0px 0px 25px;
    gap: 20px;
}
section#ladoB{
    background: url(../img/cardback.png), rgba(0, 0, 0, 0.87);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-blend-mode: multiply;
    border-radius: 0px 25px 25px 0px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
div.box{
    background-color: rgb(70, 2, 116);
    display: flex;
    align-items: center;
    height: 45px;
    width: 300px;
    gap: 10px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}
div#box3{
    display: flex;
    align-items: flex-start;
    height: auto;
}
input, textarea{
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
    text-align: justify;
    line-height: 1.5;
    padding: 10px;
    resize: none;
    
}
input, textarea:focus{
    outline: none;
}
textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
}
.box button{
    width: 100%;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}
label{
    display: flex;
    height: 45px;
}

.box input:focus .box{
    border: 2px solid green;
}
